Kamek/Build
Kamek/Build_*
Kamek/processed
Kamek/AnotherASM
Kamek/SummerASM
Kamek/NewerASM
Kamek/XmasASM
Kamek/FallingLeafASM
Kamek/kamek_pal2.x
Kamek/kamek_ntsc.x
Kamek/kamek_ntsc2.x
Kamek/kamek_jpn.x
Kamek/kamek_jpn2.x
Kamek/kamek_kor.x
Kamek/kamek_twn.x
Kamek/kamek_chn.x
Kamek/tools/cw
Kamek/tools/*.pyc
*.pyc
Kamek/tools/__pycache__
__pycache__
.DS_Store
Bootstrap/BoostrapOutput
Bootstrap/-v
